.search-bar-container{
    background-color: rgba(189, 212, 231,0.75);
    padding: 6px 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
}
.search-bar-container h2{
    text-align: center;
    padding: 25px 0;
    margin-bottom: 10px;
    color: #212227;
}
.search-bar-container input{
    border: 0;
    padding: 10px 5px;
    background-color: rgb(189, 212, 231);
    border-radius: 5px;
}